:root {
  --bg: #091b28;
  --primary: #48dfe0;
  --white: #fff;
}

* {
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'poppins', Sans-Serif;
  color: var(--white);
  background-color: var(--bg);
  height: 2000px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: transparent;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.navbar .navbar-logo {
  font-size: 25px;
  color: var(--white);
}

.navbar .navbar-logo span {
  font-style: italic;
  color: var(--primary);
}

.navbar .navbar-nav {
  display: inline-block;
}

.navbar .navbar-nav a {
  font-size: 1.1em;
  margin: 7px;
  color: var(--white);
  position: relative;
  font-weight: 500;
  padding: 6px 10px;
  transition: .5s;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 2px solid var(--primary);
  border-radius: 15px;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: .5s;
}

.navbar .navbar-nav a:hover span {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.navbar .navbar-icon {
  color: var(--white);
}

.navbar .navbar-icon :hover {
  color: var(--primary);
}

.hero {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 5%;
  background-image: url(../img/GridArt_20240201_085629579.png);
  background-size: cover;
  background-position: -55px 0px;
  background-repeat: no-repeat;
}

.hero .content {
  max-width: 600px;
}

.hero .content h1 {
  font-size: 55px;
  font-weight: 700;
}

.hero .content h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--primary);
  margin-top: -15px;
  margin-bottom: 15px;
}

.hero .content p {
  font-size: 15px;
}

.hero .content .content-cv {
  width: 345px;
  height: 50px;
  background-color: transparent;
  display: flex;
  margin-top: 15px;
}

.hero .content .content-cv a {
  width: 150px;
  height: 100%;
  background: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 9px;
  padding-left: 3px;
}

.content-icon {
  position: absolute;
  bottom: 40px;
  width: 170px;
}

.content-icon a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 2px solid var(--primary);
  border-radius: 50%;
  font-size: 20px;
  color: var(--primary);
  margin-right: 10px;
}

.about .about-con {
  padding: 8% 10%;
  height: 100vh;
}

.about .about-con h1 {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}


/* media queris */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

/* Mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
